---
// import { ViewTransitions } from 'astro:transitions';
import Layout from '../layouts/Layout.astro';
import VueTransitions from '../components/Transition/VueTransition.vue';
import AstroCounter from '../components/Transition/AstroCounter.astro';
---

<Layout title="Astro">
  <VueTransitions client:load transition:persist transition:name="counter" />
  <hr />
  <hr />
  <AstroCounter />
  <a href="/transition">Go to transition</a>
</Layout>
