---
import AstroButton from '../components/AstroButton.astro';
import AstroDialog from '../components/AstroDialog.astro';
---

<Fragment>
  <h1 class="text-center text-3xl">Nanostore</h1>
  <hr class="my-10" />
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-2xl">Astro Component</h2>
    <AstroButton />
    <AstroDialog />
  </div>
  <hr class="my-10" />
</Fragment>
