---
import Layout from '../layouts/Layout.astro';
import VueListUsers from '../components/DemoFetchData/VueListUsers.vue';
import SvelteListUser from '../components/DemoFetchData/SvelteListUser.svelte';
import ReactListUsers from '../components/DemoFetchData/ReactListUsers.jsx';
import AstroListUsers from '../components/DemoFetchData/AstroListUsers.astro';
---

<Layout title="Astro">
  <h1 class="text-center my-10 text-2xl">Fetching Data</h1>
  <div class="flex items-center justify-around">
    <SvelteListUser client:load />
    <ReactListUsers client:load />
    <VueListUsers client:load />
    <AstroListUsers />
  </div>
</Layout>
